# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# =========================
# Jupyter
# =========================

.ipynb_checkpoints/

# =========================
# Virtual Environment
# =========================

venv/
.venv/
env/
ENV/

# =========================
# Streamlit
# =========================

.streamlit/secrets.toml

# =========================
# Environment Variables
# =========================

.env
.env.*
*.env

# =========================
# Firebase
# =========================

firebase_key.json

# =========================
# macOS
# =========================

.DS_Store

# =========================
# VSCode
# =========================

.vscode/

# =========================
# JetBrains
# =========================

.idea/

# =========================
# Logs
# =========================

*.log

# =========================
# Build
# =========================

build/
dist/

# =========================
# Cache
# =========================

.cache/
pytest_cache/
.mypy_cache/

# =========================
# Temporary
# =========================

tmp/
temp/

# =========================
# OS
# =========================

Thumbs.db
